<% provide(:page_title, "このサイトについて") %>
<main>

<!--Main layout-->
<div class="container">

    <h3>このサイトについて</h3>
    <h5>ポケット糖質量へようこそ！</h5>
    <br>
    ポケット糖質量は1100種類以上の食品に含まれる糖質量が検索できるサイトです。<br>
    100グラムあたりの糖質量と、それぞれの食品の1食を目安とした分量に含まれるエネルギー（カロリー）・たんぱく質・脂質・塩分が表示できます。<br>
    健康づくりのためにぜひご利用ください。<br>

</div>
<!--/.Main layout-->

</main>
