<% provide(:page_title, "このサイトについて") %>
<main>

<!--Main layout-->
<div class="container">

    <h3>このサイトについて</h3>
    <h5>ポケット糖質量へようこそ！</h5>
    <br>
    当サイトにお越し下さりありがとうございます。<br>
    糖質制限といえば、ダイエットをはじめとして糖尿病、高血圧、アンチエイジング、メタボリックシンドローム、生活習慣病に効果を期待できるとされています。<br>
    糖質制限ダイエット、低炭水化物ダイエット、ロカボダイエットなどという言葉もすっかり定着した感があります。<br>
    <br>
    管理人の私も体の不調に糖質制限に効果を感じ、正しい方法であると確信したことから豊富なデータの中から簡単に糖質量を検索でき、一覧でも眺められるように出来ればいいなあという思いから生まれました。
    <br>
    <br>
    ポケット糖質量は1100種類以上の食品に含まれる糖質量が検索できるサイトです。<br>
    100グラムあたりの糖質量と、それぞれの食品の1回分を目安とした分量に含まれるエネルギー（カロリー）・たんぱく質・脂質・塩分が表示できます。<br>
    健康づくりのためにぜひご利用ください。<br>
    <br>
    糖質量のデータは新しい情報を増やしていく予定です。<br>
    <br>
    これからもポケット糖質量をよろしくお願いいたします。<br>

    <br>
    このサイトの栄養成分は文部科学省の日本食品標準成分表2015年版（七訂）<br>
    （http://www.mext.go.jp/a_menu/syokuhinseibun/1365297.htm）を基本として独自に調べたものを使用しています。 <br>
    あくまでも目安として使用していただきたいと思っておりますので、正確な情報をお求めの場合は、<br>
    上記の成分表をご確認されることを推奨しております。<br>
    成分量が微量の場合は0gと表示されていることがあります。
    当サイトは管理人一人で運営しておりますので成分についてのご質問はお受け出来かねます。<br>
    <br>
    <br>
    <br>

    <%= render 'layouts/sns_share' %>

</div>
<!--/.Main layout-->

</main>
