<% provide(:page_title, " ヘルプ") %>
<main>

  <!--Main layout-->
  <div class="container">
    <br>
    <h3>このサイトについて / ポケット糖質量の使い方</h3>
    <br>
    <br>
    <h5 class="teal-text text-darken-2">食品の検索方法</h5><br>
    検索の入力欄に食品名の一部を入れて下さい。<br>
    食品のざっくりした種類（弁当, 冷凍食品など）でも検索されるよう、<br>
    なるべく多めにデータがヒットするようにしております。<br>
    検索結果が一件も表示されない時は候補の言葉を短くしてみて下さい。<br>
    たくさん表示されすぎる場合は、候補の言葉をスペースで区切って入力してみて下さい。<br>
    <br>
    <hr>
    <h5 class="teal-text text-darken-2">食品種類別一覧の見方</h5><br>
    ６つの種類を用意しております。<br>
    トップページの６つのメニュー、またはヘッダーバーの「食品種類別」のドロップダウンメニューよりご利用いただけます。<br>
    種類別の中にさらに食品のタイプをオレンジ色のボタンで表示しております。<br>
    例としてトップページ又はヘッダーのメニューから「飲みもの」を選んでいただきますと「飲みものの糖質量」という文字の下に「ソフトドリンク」「アルコールなど」というボタンが表示されると思います。<br>
    オレンジ色のボタンを押すとその食品のタイプのみ表示します。<br>
    飲みもの全体のデータを表示したい場合は、「飲みものの糖質量」という文字をクリックして下さい。<br>
    <br>
    <hr>
    <h5 class="teal-text text-darken-2">食品の文字の色について</h5><br>
    当サイトでは糖質量が含まれる割合によって4種類の文字色を表示しています。<br>
    <ul>
      <li>
        <font color="#0000d2">糖質量が100g中5gまで・・・青色の文字（糖質量が少ない）</font>
      </li>
      <li>
        <font color="#049336">糖質量が100g中5g以上15g未満・・・緑色の文字（糖質量がやや多い）</font>
      </li>
      <li>
        <font color="#f44336">糖質量が100g中15g以上50g未満・・・赤色の文字（糖質量が多い）</font>
      </li>
      <li>
        <font color="#9c27b0">糖質量が100g中50g以上・・・紫色の文字（糖質量が非常に多い）</font>
      </li>
    </ul>
    <br>
    糖質量が多いものでも少量なら問題ないなど、ケースバイケースですのであくまでも目安としてお考え下さい。<br>
    <br>
    <hr>
    <h5 class="teal-text text-darken-2">角砂糖◯個分という表記について</h5><br>
    糖質量を1個4gの角砂糖だと何個分になるか表示しております。<br>
    小数点以下第2位は四捨五入しています。<br><br>
    この値はその食品を摂った時に角砂糖と全く同じように血糖値が上がるということではなく、<br>
    わかりやすい視覚情報を認識することで糖質制限のモチベーションを維持することを念頭に置いております。<br>
    あくまでも単純な重さの目安としてお考え下さい。<br>
    <br>
    <hr>
    <br>
    サイトマップ
    <%= render 'layouts/site_map' %>
    <br>
    <%= render 'layouts/sns_share' %>
  </div>
  <!--/.Main layout-->

</main>
