<main>

    <!--Main layout-->
    <div class="container">
        <!--First row-->
        <div class="row">

            <!--Main information-->
            <div class="col-md-12">
                <h3 class="h3-responsive">Welcome! ポケット糖質量</h3>
                <hr>
                <p>ポケット糖質量は1100種類以上の食品に含まれる糖質量が検索できるサイトです。<br>
                    100グラムあたりの糖質量と、それぞれの食品の1食を目安とした分量に含まれるエネルギー（カロリー）・たんぱく質・脂質・塩分が表示できます。<br>
                    健康づくりのためにぜひご利用ください。</p>
            </div>


            <div class="media">
                <a class="media-left" href="/">
                    <img class="rounded-circle" src="http://mdbootstrap.com/img//Photos/Avatars/img%20(13).jpg" alt="Generic placeholder image">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">John Doe</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta. Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!</p>
                </div>
            </div>


        </div>
        <!--/.First row-->

        <!--Second row-->
        <div class="row">
            <div class="col-lg-10">
                <dl class="search2">
                    <dt><input type="text" name="search" value="" placeholder="検索したい食品名を入力してください..." /></dt>
                    <dd><button>検索</button></dd>
                </dl>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <!--/.Second row-->

        <hr class="extra-margins">

        <!--Type cards row1-->
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2813%29.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2840%29.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2842%29.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Type cards row1-->

        <!--Type cards row2-->
        <div class="row">
            <div class="card-group">
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2813%29.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%2840%29.jpg" alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
                <div class="card">
                </div>
            </div>
        </div>
        <!--/.Type cards row1-->

        <hr class="extra-margins">

    </div>
    <!--/.Main layout-->

</main>
