<% provide(:page_title, " ＢＭＩ計算") %>
<main>

    <!-- /.Main Container -->
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href=<%=root_path %>>Home</a></li>
                <li class="breadcrumb-item"><a href="/static_pages/calc/index">色々計算機</a></li>
                <li class="breadcrumb-item active" aria-current="page">BMI計算</li>
            </ol>
        </nav>

        <!-- Grid row -->
        <div class="row">

            <!-- Content -->
            <div class="col-lg-12">

                <!-- Section: Intro -->
                <section class="section">

                    <!-- Grid row -->
                    <div class="row">

                        <!--Grid column left-->
                        <div class="col-lg-9 col-md-12 mb-3 pb-lg-2">

                            <div class="view z-depth-1">
                                <img src="<%= asset_path 'calc/bmi_intro.png' %>" class="img-fluid">
                            </div>

                            <div class="card white p-5">

                                <!-- Outline -->
                                <nav class="page-outline">
                                    <h5 class="text-center mb-3"><i class="fa fa-list-alt"></i> 目次</h5>
                                    <ol>
                                        <li><a href="#bmi1">身長と体重からBMIを計算する</a></li>
                                        <li><a href="#bmi2">身長とBMIから体重を計算する</a></li>
                                        <li><a href="#bmi3">BMIと体重から身長を計算する</a></li>
                                        <li><a href="#bmi-standard">BMIの判定基準</a></li>
                                        <li><a href="#bmi-formula">BMIの計算式</a></li>
                                        <li><a href="#bmi-ideal">標準体重の計算式</a></li>
                                        <li><a href="#bmi-link">参考リンク</a></li>
                                    </ol>
                                </nav>

                                <!-- BMI -->
                                <section id="bmi1" class="pt-5">
                                    <!-- Input form1 -->
                                    <form id="bmi-input1" name="form_bmi1" class="mt-2">

                                        <p class="h4 bq-primary light-blue lighten-5 p-2 mb-2">身長と体重からBMIを計算する</p>
                                        <p class="mdb-color-text my-4">ホディ・マス・インデックス法（ＢＭＩ）は身長と体重から算出する肥満度の目安です。<br />まずはチェックしてみましょう。</p>
                                        <p class="h5 my-2">次の欄に身長と体重を数字で入力してください</p>

                                        <label for="input_height">身長 (cm)</label>
                                        <input type="number" id="input_height" class="calc-bordered-form-control mb-2"
                                            placeholder="例：170.5">

                                        <label for="input_weight">体重 (kg)</label>
                                        <input type="number" id="input_weight" class="calc-bordered-form-control mb-2"
                                            placeholder="例：80.2">

                                        <div>
                                            <input type="button" class="btn btn-primary" onclick="calc_bmi1();" value="BMIを計算する">
                                        </div>

                                    </form>
                                    <!--/.Input form1 -->

                                    <!-- Calculate result1 -->
                                    <div id="bmi_result_area1" class="pt-5" style="visibility:hidden">
                                        <div class="view grey lighten-4 p-3">
                                            <p class="h4 text-center" id="result_bmi_title1">BMIの計算結果</p>
                                            <p class="text-center mt-1" id="result_bmi_input1"></p>
                                            <div class="h4 text-center mt-1" id="result_bmi1"></div>
                                            <div class="h4 text-center mt-1" id="result_bmi_category1"></div>
                                            <div class="h4 text-center mt-1 mb-1" id="result_bmi_fine1"></div>
                                        </div>
                                    </div>
                                    <!--/.Calculate result1 -->
                                </section>
                                <!--/. BMI -->

                                <!-- Weight -->
                                <section id="bmi2" class="pt-5">
                                    <!-- Input form2 -->
                                    <form id="bmi-input2" name="form_bmi2" class="mt-2">

                                        <p class="h4 bq-primary light-blue lighten-5 p-2 mb-2">身長とBMIから体重を計算する</p>
                                        <p class="mdb-color-text my-4">身長とBMIから体重を逆算出します。<br />
                                            上で計算したBMIは四捨五入しているので、ここの計算結果と若干ズレがあります。<br />
                                            予めご了承ください。</p>
                                        <p class="h5 my-2">次の欄に身長とBMIを数字で入力してください</p>

                                        <label for="input_height">身長 (cm)</label>
                                        <input type="number" id="input_height" class="calc-bordered-form-control mb-2"
                                            placeholder="例：170.5">

                                        <label for="input_weight">BMI</label>
                                        <input type="number" id="input_bmi" class="calc-bordered-form-control mb-2"
                                            placeholder="例：27.6">

                                        <div>
                                            <input type="button" class="btn btn-primary" onclick="calc_bmi2();" value="体重を計算する">
                                        </div>

                                    </form>
                                    <!--/.Input form2 -->

                                    <!-- Calculate result2 -->
                                    <div id="bmi_result_area2" class="pt-5" style="visibility:hidden">
                                        <div class="view grey lighten-4 p-3">
                                            <p class="h4 text-center" id="result_bmi_title2">体重の計算結果</p>
                                            <p class="text-center mt-1" id="result_bmi_input2"></p>
                                            <div class="h4 text-center mt-1" id="result_bmi2"></div>
                                        </div>
                                    </div>
                                    <!--/.Calculate result2 -->
                                </section>
                                <!--/. Weight -->

                                <!-- Height -->
                                <section id="bmi3" class="pt-5">
                                    <!-- Input form3 -->
                                    <form id="bmi-input3" name="form_bmi3" class="mt-2">

                                        <p class="h4 bq-primary light-blue lighten-5 p-2 mb-2">BMIと体重から身長を計算する</p>
                                        <p class="mdb-color-text my-4">BMIと体重から身長を逆算出します。<br />
                                            上で計算したBMIは四捨五入しているので、ここの計算結果と若干ズレがあります。<br />
                                            予めご了承ください。</p>
                                        <p class="h5 my-2">次の欄に体重とBMIを数字で入力してください</p>

                                        <label for="input_weight">体重 (kg)</label>
                                        <input type="number" id="input_weight" class="calc-bordered-form-control mb-2"
                                            placeholder="例：80.2">

                                        <label for="input_weight">BMI</label>
                                        <input type="number" id="input_bmi" class="calc-bordered-form-control mb-2"
                                            placeholder="例：27.6">

                                        <div>
                                            <input type="button" class="btn btn-primary" onclick="calc_bmi3();" value="身長を計算する">
                                        </div>

                                    </form>
                                    <!--/.Input form3 -->

                                    <!-- Calculate result3 -->
                                    <div id="bmi_result_area3" class="pt-5" style="visibility:hidden">
                                        <div class="view grey lighten-4 p-3">
                                            <p class="h4 text-center" id="result_bmi_title3">身長の計算結果</p>
                                            <p class="text-center mt-1" id="result_bmi_input3"></p>
                                            <div class="h4 text-center mt-1" id="result_bmi3"></div>
                                        </div>
                                    </div>
                                    <!--/.Calculate result2 -->
                                </section>
                                <!--/. Height -->

                                <!-- Description -->
                                <div id="bmi-standard" class="pt-5">
                                    <p class="h4 bq-primary light-blue lighten-5 p-2 mt-2 mb-2">BMIの判定基準</p>

                                    <p class="mdb-color-text my-4">次の表は日本肥満学会による肥満の
                                        判定基準です。<br />減量目標は20歳代
                                        前半の体重とされています。<br />
                                        約15万人の調査では、BMI22が一番病気にかかりにくいとされています。<br />
                                        BMI25以上は高血圧、糖尿病、高脂血症のリスクが２倍になり、<br />
                                        アジア人は比較的軽度の肥満で生活習慣病になりやすいとわかっており、<br />
                                        適正体重の維持することが大切です。</p>

                                    <table class="calc-description-table">
                                        <thead>
                                            <tr>
                                                <th>BMI</th>
                                                <th>肥満判定</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>18.5未満</td>
                                                <td>低体重（痩せ型）</td>
                                            </tr>
                                            <tr>
                                                <td>18.5以上、25未満</td>
                                                <td>普通体重</td>
                                            </tr>
                                            <tr>
                                                <td>25以上、30未満</td>
                                                <td>肥満（1度）</td>
                                            </tr>
                                            <tr>
                                                <td>30以上、35未満</td>
                                                <td>肥満（2度）</td>
                                            </tr>
                                            <tr>
                                                <td>35以上、40未満</td>
                                                <td>肥満（3度）</td>
                                            </tr>
                                            <tr>
                                                <td>40以上</td>
                                                <td>肥満（4度）</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div id="bmi-formula" class="pt-5">
                                    <p class="h4 bq-primary light-blue lighten-5 mt-2 p-2">BMIの計算式</p>
                                    <p class="mdb-color-text my-4">BMIの計算式は次のとおりです。</p>
                                    <div class="view grey lighten-4 ml-5 mr-5">
                                        <p class="h5 deep-orange-text text-center mt-2">ＢＭＩ＝　体重(kg)　÷　身長(m)　÷　身長(m)</p>
                                    </div>
                                    <p class="mdb-color-text my-4">身長とBMIから体重を逆算出する計算式は次のとおりです。</p>
                                    <div class="view grey lighten-4 ml-5 mr-5">
                                        <p class="h5 deep-orange-text text-center mt-2">体重(kg)　＝　身長(m)　×　身長(m)　×　ＢＭＩ</p>
                                    </div>
                                    <p class="mdb-color-text my-4">体重とBMIから身長を逆算出する計算式は次のとおりです。</p>
                                    <div class="view grey lighten-4 ml-5 mr-5">
                                        <p class="h5 deep-orange-text text-center mt-2">身長(m)　＝　√（体重(kg)　÷　ＢＭＩ）</p>
                                    </div>
                                </div>

                                <div id="bmi-ideal" class="pt-5">
                                    <p class="h4 bq-primary light-blue lighten-5 mt-2 p-2">標準体重の計算式</p>
                                    <p class="mdb-color-text my-4">標準体重の計算式は次のとおりです。<br />
                                        一番病気にかかりにくいとされているBMI22の値となります。</p>
                                    <div class="view grey lighten-4 ml-5 mr-5">
                                        <p class="h5 deep-orange-text text-center mt-2">体重　＝　身長(m)　×　身長(m)　×　22</p>
                                    </div>
                                </div>

                                <div id="bmi-link" class="pt-5">
                                    <p class="h4 bq-primary light-blue lighten-5 p-2 mt-2 mb-2">参考リンク</p>
                                    <p><a class="" href="https://ja.wikipedia.org/wiki/%E3%83%9C%E3%83%87%E3%82%A3%E3%83%9E%E3%82%B9%E6%8C%87%E6%95%B0"
                                            target="_blank">ボディマス指数 - Wikipedia</a> </p>
                                    <p><a class="" href="http://www.jasso.or.jp/data/magazine/pdf/chart_A.pdf" target="_blank">一般社団法人日本肥満学会
                                            BMIガイドライン (PDF)</a></p>
                                    <p><a class="" href="https://www.e-healthnet.mhlw.go.jp/information/dictionary/metabolic/ym-002.html"
                                            target="_blank">厚生労働省 BMI | e-ヘルスネット</a></p>
                                </div>

                                <div class="py-3 text-right">
                                    <p class="teal-text"> updated 2018/12/11</p>
                                </div>
                                <!--/.Description -->
                            </div>

                        </div>
                        <!--/.Grid column left-->

                        <!--Grid column right-->
                        <div class="col-lg-3 col-md-12 mb-4">

                            <!-- Smartphone Apps badge -->
                            <%= render 'layouts/mobile_app_banner' %>

                            <!-- A8 banner1-->
                            <div id="zsid4916090381"></div>
                            <script type="text/javascript" src="//statics.a8.net/js/harippaban.js" charset="utf-8"></script>
                            <script type="text/javascript">
                                var aid = '170405731565';
                                var frame = '1';
                                var shopname = '1';
                                var horizontal = '1';
                                var vertical = '5';
                                var alignment = '0';
                                var rndid = 'zsid4916090381';
                                var bannerkind = 'item.variable.kind1';
                            </script>
                            <script type="text/javascript" src="//items.a8.net/search?keyword=%E7%97%A9%E3%81%9B&limit=5&callback=callbackA8"
                                charset="utf-8"></script>
                            <!--/.A8 banner1-->

                            <!-- A8 banner2-->
                            <div id="zsid0863622169"></div>
                            <script type="text/javascript" src="//statics.a8.net/js/harippaban.js" charset="utf-8"></script>
                            <script type="text/javascript">
                                var aid = '170405731565';
                                var frame = '1';
                                var shopname = '1';
                                var rndid = 'zsid0863622169';
                                var bannerkind = 'item.fix.kind7';
                            </script>
                            <script type="text/javascript" src="//items.a8.net/search?keyword=BMI&limit=10&callback=callbackA8"
                                charset="utf-8"></script>
                            <!--/.A8 banner2-->
                        </div>
                        <!--/.Grid column right-->

                    </div>
                    <!--/.Grid row-->

                </section>
                <!--/.Section: Intro -->

            </div>
            <!--/.Content -->

        </div>
        <!--/.Grid row -->
        <%= render 'layouts/sns_share' %>
    </div>
    <!--/.Main Container -->
</main>
