# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
doc/
*.swp
*~
.project
.DS_Store
.idea
.secret

# project files
#db/*.csv

# Ignore Spring files.
/spring/*.pid

# Environment valuables
.env
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

# compiled assets
public/assets/

# Ignore master key for decrypting credentials and more.
/config/master.key

# vscode settings
.vscode
