@charset "UTF-8";
/* main layout */
/* line 3, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
main {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

/* navbar */
/* line 9, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.navbar {
  background-color: transparent;
}

/* line 13, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

/* line 16, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

/* line 22, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.top-nav-collapse {
  background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
  /* line 27, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
  .navbar {
    background-color: #1C2331;
  }
}
/* hr margin */
/* line 33, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* underline for link text */
/* line 39, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.underline a:hover {
  text-decoration: underline;
}

/* Search form */
/* line 44, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.food-search-box {
  padding: 10px;
  margin-bottom: 10px;
}

/* line 48, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.food-search-box .text {
  width: 350px;
  height: 35px;
  border: 2px solid #CCC;
  text-indent: 10px;
  text-decoration: none;
}

/* line 55, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.food-search-box .btn {
  background: #2BBBAD;
  height: 40px;
  text-align: center;
  font-size: small;
}

/* Pagination */
/* line 63, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 10px;
  line-height: 34px;
  text-decoration: none;
  background-color: white;
}

/* line 72, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination .first {
  padding: 0;
  float: none;
  border: none;
}
/* line 77, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination .prev {
  padding: 0;
  float: none;
  border: none;
}
/* line 82, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination .page {
  padding: 0;
  float: none;
  border: none;
}
/* line 87, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination .next {
  padding: 0;
  float: none;
  border: none;
}
/* line 92, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.pagination .last {
  padding: 0;
  float: none;
  border: none;
}

/* 404,500 error page */
/* line 100, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* SNSシェア */
/* line 110, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
ul.share-buttons {
  list-style: none;
  padding: 0;
}

/* line 115, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
ul.share-buttons li {
  display: inline;
}

/* line 119, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* line 130, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.hatena-bookmark-button {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

/* Site map list */
/* line 136, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
.site-map-list {
  margin-left: 20px;
  text-align: left;
  font-size: 14px;
}

/* line 141, /Users/sakura/Documents/Rails/sakura_fish/pocket_carbo/app/assets/stylesheets/custom.scss */
ul.site-map-list-child {
  margin-left: 20px;
}
