<div class="box">
    <img src=<%= asset_path 'tamagogohan.png' %>  width="150" height="150"  />
    <br>
    <h2>ご指定のページが見つかりません。</h2>
    <br>
    <br>
    <%= link_to "トップページへ戻る", root_path %>
</div>