<% provide(:page_title, " 食品一覧") %>
<main>
  <% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <%= render 'foods/foods' %>

      <!-- SNS share button -->
      <div class="row mt-5">
        <%= render 'layouts/sns_share' %>
      </div>
      <!--/. SNS share button -->
    </div>
    <!--/. row -->
  </div>
  <!--/. container -->

</main>