/* main layout */
main {
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #eafaf9;
}

/* badge */
.badge {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
}

/* underline for link text */
.underline a:hover {
  text-decoration: underline;
}

/* breadcrumb */
.breadcrumb {
  background-color: transparent !important;
  display: inline-block;
  vertical-align: middle;
}

.breadcrumb::after {
  clear: both;
  content: "";
}

.breadcrumb li {
  display: inline;
  list-style: none;
  font-weight: bold;
}

.breadcrumb>li+li:before {
  /* >を表示*/
  content: "\3E" !important;
  color: #555;
}

.breadcrumb li:last-child:after {
  content: '';
}

.breadcrumb li a {
  text-decoration: none;
  color: gray;
}

.breadcrumb li:first-child a:before {
  /*家アイコン*/
  font-family: FontAwesome;
  content: '\f015';
  font-weight: normal;
  font-size: 1.1em;
  color: #2BBBAD;
}

.breadcrumb li a:hover {
  text-decoration: underline;
}

/* Header background */
.header-gradient-color {
  background: linear-gradient(135deg, #2BBBAD, #E0E7CA);
}

/* Search form */
.food-search-box {
  width: 80%;
}

.food-search-box .text {
  height: 2.25rem;
  border: 2px solid #CCC;
  border-radius: 4px;
  text-indent: 10px;
  text-decoration: none;
  background-color: #fff
}

.food-search-box .btn {
  background: #2BBBAD;
  height: 40px;
  text-align: center;
  font-size: small;
}

/* Pagination */
.pagination a,
.pagination span.current,
.pagination span.gap {
  float: left;
  padding: 0 10px;
  line-height: 34px;
  text-decoration: none;
  background-color: white;
}

.pagination {
  .first {
    padding: 0;
    float: none;
    border: none;
  }

  .prev {
    padding: 0;
    float: none;
    border: none;
  }

  .page {
    padding: 0;
    float: none;
    border: none;
  }

  .next {
    padding: 0;
    float: none;
    border: none;
  }

  .last {
    padding: 0;
    float: none;
    border: none;
  }
}

/* 404,500 error page */
.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* 要素をflexboxに対応させる */
  align-items: center;
  /* 縦方向の中央揃え */
  justify-content: center;
  /* 横方向の中央揃え */
  flex-direction: column;
  /* 子要素の並びを上から下にする（要素の改行に対応） */
}

/* SNSシェア */
ul.share-buttons {
  list-style: none;
  padding: 0;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.hatena-bookmark-button {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

/* Site map list */
.site-map-list {
  margin-left: 20px;
  text-align: left;
  font-size: 14px;
}

ul.site-map-list-child {
  margin-left: 20px;
}
