/* main layout */
main {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

/* navbar */
.navbar {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}

/* hr margin */
.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* Foods list grid left */
.food_grid_left {
  text-align: left;
  color: #424242;
}

/* Foods list grid right */
.food_grid_right {
  background-color: #fafafa;
  text-align: left;
  color: #757575;
}

/* Foods type in Foods list */
a.food_type {
  text-align: left;
  font-size: 16px;
  color: #00695c;
}

a.food_type_button span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: #1C2331;
  text-align:center;
  font-size: 12px;
  background-color: #ffd180;
}

a.food_type_button span:hover {
  background-color: #dcedc8;
}

// changed background-color
a.food_type_button_selected span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: #1C2331;
  text-align:center;
  font-size: 12px;
  background-color: #ffab40;
}

/* Pagination */
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}


