/* main layout */
main {
  padding-top: 5rem;
  padding-bottom: 2rem;
}

/* navbar */
.navbar {
  background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.scrolling-navbar {
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
  background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}

/* hr margin */
.extra-margins {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

/* Foods list grid left */
.food_grid_left {
  text-align: left;
  color: #424242;
}

/* Foods list grid right */
.food_grid_right {
  background-color: #fafafa;
  text-align: left;
  color: #757575;
}


