// Place all the styles related to the Foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Foods list grid left */
.food_grid_left_safe {
  text-align: left;
  color: #0000d2;
}
.food_grid_left_warning {
  text-align: left;
  color: #049336;
}
.food_grid_left_danger {
  text-align: left;
  color: #f44336;
}
.food_grid_left_danger_high {
  text-align: left;
  color: #9c27b0;
}

/* Foods list grid right */
.food_grid_right {
  border: solid 1px #cfcfcf;
}
.food_grid_right p {
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-align: left;
  color: #424242;
}

/* Foods type in Foods list */
.food_type {
  display: inline-block;
  margin-bottom: 7px;
  text-align: left;
  font-size: 20px;
  color: #00695c;
}

.food_type_button span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: #1C2331;
  text-align:center;
  font-size: 12px;
  background-color: #ffd180;
}

.food_type_button span:hover {
  background-color: #dcedc8;
}

// changed background-color
.food_type_button_selected span {
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: #1C2331;
  text-align:center;
  font-size: 12px;
  background-color: #ffab40;
}

.food_kind_title {
  display: inline-block;
  margin-left: 20px;
  padding: 2px 5px 2px 5px;
  text-align: left;
  font-size: 14px;
  color: #f57c00;
  border: 1px solid #f57c00;
  background-color: #fff;
}

.food_kind_title_row {
  display: inline-block;
  padding: 1px 3px 1px 3px;
  margin-bottom: 6px !important;
    text-align: left;
  font-size: 12px;
  color: #f57c00;
  border: 1px solid #f57c00;
  border-radius: 3px;
}

.cube_sugar_color {
  color: #424242; }
