/* Home scene card style */
.home-card a {
  color: #4f4f4f;
}

.home-card h4 a {
  color: #009688;
}

/* thumbnail image size */
.image-square104 {
  object-fit: cover;
  overflow: hidden;
  width: 104px;
  height: 104px;
}

/* page outline(目次) */
.page-outline {
  background: #fff;
  padding: 0;
  border: solid 2px #ffcc80;
  margin-bottom: 2em;
}
.page-outline h5 {
  padding: 8px 12px;
  margin: -1px;
  background: #ffcc80;
  border: 0;
  font-size: 18px;
  text-align: center;
  color: white;
}
.page-outline,
ul,
ol {
  border-radius: 3px;
}
.page-outline a {
  color: #1a9bcb;
}
.page-outline a:hover {
  text-decoration: underline;
  color: #0d47a1;
}

/* input form */
.calc-bordered-form-control {
  display: block;
  width: 65% !important;
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .375rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* description table */
.calc-description-table {
  display: block !important;
}

.calc-description-table th,
.calc-description-table td {
  border: solid 1px lightgrey;
}

.calc-description-table th {
  padding: 10px;
  background-color: #4285F4;
  color: white;
  text-align: center;
}

.calc-description-table td {
  background-color: #e1f5fe;
  padding: 3px 10px;
  text-align: left;
}
