<div class="row">
  <div class="col-lg-10">
    <dl>
      <%= form_tag({controller: :foods, action: :index}, class: "form-inline") do %>
      <dt>
        <%= text_field_tag :search_keyword, nil, size: '70%', class: "form-control", placeholder: "検索したい食品名を入力してください...", value: @search_keyword %>
      </dt>
      <dt>
        <%= button_tag(type: "submit", class: "btn btn-default") do %><i class="fa fa-search"> 検索 </i>
        <% end %>
      </dt>
      <% end %>
    </dl>
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
